/* ////////////////////Apartado de fuentes//////////////////// */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orienta&display=swap");
@import url('./variables.css');
/* ////////////////////Apartado de configuracion standard//////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
background-color: var(--color-terciario);
position: relative;
min-height: 100vh;
padding-bottom: 3rem;
}




.logoImg {
  padding-top: 10px;
  margin-left: 10px;
}

.contenedorSecciones {
  display: flex;
  justify-content: center;
  gap: 20%;
}

.cajaCampo{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20%;
  height: 80%;
  margin: 5%;
  width: 40%;
  }
  



.mensajeAclaratorio{
  display: flex;
color: var(--color-primario);
padding: 1em;
font-family: var(--tipografia-parrafos);
}

.botones{
  display: flex;
  gap: 5%;
}


.botonEncript {
  background-color: var(--color-primario);
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 24px;
  width: 20.5em;
  height: 4.188em;
  padding: 24px;
  gap: 8px;
  border-radius: 24px;
  color: var(--color-terciario);
}
.botonDesencript{
 background-color: var(--color-secundario);
  border: 2px;
  border-color: var(--color-primario);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 24px;
  width: 328px;
  height: 67px;
  padding: 24px;
  gap: 8px;
  border-radius: 24px;
  color: var(--color-terciario);


}

.botonCopiar{
  background-color: var(--color-secundario);
  border: 2px;
  border-color: var(--color-primario);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 24px;
  width: 90%;
  height: 67px;
  padding: 24px;
  gap: 8px;
  border-radius: 24px;
  color: var(--color-terciario);


}

.cajaEncript{
  width: 25%;
  padding: 1%;
  height: 90%;
  border-radius: 32px ;
  box-shadow: 0px 16px 30px -4px rgba(69,69,69,0.51);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
.cajaEncript h2{
  font-family: var(--tipografia-parrafos);
  color: var(--color-primario);
  font-size: 1.5em;

}


.cajaEncript p{
  font-family: var(--tipografia-parrafos);
  color: var(--color-primario);
  font-size: 1em;

}

.cajaEncript img{
width: 80%;



}
.campoAencriptar{
  width: 80%;
  border: 0;
  font-size: 2.5em;
  outline: none;
  color: var(--color-primario);
  background-color: var(--color-terciario);
}
.campoAencriptar::placeholder{
color: var(--color-primario);

}

.piePagina{
font-size: 1.5em;
background-color: var(--color-primario);
font-family: var(--tipografia-parrafos);
color: var(--color-terciario);
display: flex;
justify-content: center;
padding: 1rem;
position: absolute;
bottom: 0%;
width: 100%;
}

/* ////////////////////////////////////////////////TABLETS//////////////////////////////////////////////// */


@media (max-width: 1200px) {
  
.muñeco{
  display: none;
}
.contenedorSecciones{
flex-direction: column;
align-items: center;
}
.cajaEncript{
width: 80%;
margin-bottom: 5%;

}
.cajaCampo{
  width: 80%;
}

.botones{
  justify-content: center;
}

.botonEncript{

  margin: 5%;
}
.botonDesencript{
  margin: 5%;
}

}
@media (max-width:933px) {
    .botones{
      display: flex;
      align-items: center;
      flex-direction: column;
      gap : 50%;
    }




}
@media (max-width: 591px) {
  .piePagina{
    font-size: 0.7em;
  }
}