:root{
    --color-primario:#052051;
    --color-secundario:#757FB2;
    --color-terciario:#EFF1FA;
    --tipografia-titulos:"Krona One", sans-serif;
    --tipografia-parrafos:'inter',sans-serif;
    }
    
    